/* Title */
.body{
  margin: 0px;
  padding: 0px;
}
.container-fluid {
  padding: 5% 15%;
}

#title {
  background-color: #000000;
}

.navbar-brand {
  font-family: "Ubuntu";
  padding-left: : 50px;
  font-size: 6rem;
}

.container-fluid {
  padding: 10% 10% 0 10%;
  text-align: left;
}

.Heading {
  text-align: left;
  color: #233142;
}

h1 {
  text-align: left;
  margin: auto;
  color: #ff4c68;
}

.title-image {
  width: 500px;
  margin-left: 40px;
}

.btn {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Skills-education */
.skills-heading {
  font-size: 50px;
  text-align: center;
}

#skills {
  text-align: center;
  padding: 1% 1%;
  background-color: #fff;
  position: relative;
}

.fas, .fab {
  color: #ef8172;
  margin-bottom: 1rem;
}

.fas:hover, .fab:hover {
  color: #ff4c68
}

.feature-box {
  text-align: center;
  padding: 5%;
}

#experience {
  padding: 50px;
  text-align: left;
  background-color: #000000;
  color: #fff;
}

.carousel-para {
  padding-top: 2%;
}

.carousel-inner {
  padding: 5% 20%;
}

.carousel-control {
  margin: 0 10%;
}

/* Education */
#Education {
  padding-top: 20px;
  text-align: center;
}

.horizontal-timeline {
  position: relative;
  height: 10px;
  background: #000000;
  margin: 5% 0;
}

.arrow-up, .arrow-down {
  position: absolute;
  vertical-align: baseline;
}

.arrow-down {
  bottom: -20px;
  width: 50px;
 height: 50px;
 background: #ff4c68;
 border-radius: 50px;
 position: absolute;
 border: 3px solid #000000;
 cursor: pointer;
}
.Education-para{
  padding-top: 2px;
  margin-top: 2px;
}


@media (max-width: 1080px) {
  #title {
    text-align: center;
  }

  #skills {
    background-color: #000000;
  }

  .fas.fab {
    color: #ef8172;
    margin-bottom: 1rem;
    width: 200px;
    padding: 5%;
  }
